body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: 
    url(img/fundo.svg), /* Imagem de fundo */
    linear-gradient(
      to bottom,
      #000e,
      #0d0d17 20%,
      #0f0f1d 40%,
      #0d0d17 60%,
      #000
    ); /* Gradiente linear */
  background-size: cover, 100% 100vh; /* Tamanho do background da imagem e do gradiente */
  background-repeat: no-repeat; /* Evita a repetição do background da imagem */
}


#espacamento {
  margin: 0 7.5% 0 11%;
}

/* header */
nav {
  background-color: #c91a1a00;
  color: #fff;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
}

.start {
  margin: 0 0.8em; /* Adicionando margem direita */
}

.start-rigth {
  margin-right: 36.5em;
  border: 1px solid #3c54576b;
  border-radius: 6%;
}

.end {
  margin: 0 0.5em; 
}

.menu img,
.home img,
.explorar img,
.biblioteca img,
.user img {
  width: 24px;
  height: 24px;
}

.logo img {
  width: 80px;
  height: 24px;
  border-radius: 100px;
}

.search {
  position: relative;
}

.search-input {
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: auto;
  max-width: 400px;
  width: 400px;
  background: linear-gradient(to bottom, #1818266c, #141d287a);
}

.search-icon {
  position: absolute;
  right: 405px; /* Ajustando a posição */
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
}

.img-border {
  border-radius: 50%;
}
/* header */

/* user */
#content-lado {
  display: flex; 
  margin-top: 3%;
  margin-left: 2%;
}

#content-left,
#content-right {
  display: flex;
  align-items: start;
  padding: 0;
  margin: 1% 2% 3% 0; 
  flex-direction: column;
  justify-content: start; /* Centraliza o conteúdo na direção (vertical) */
  letter-spacing: 1.3px;
}

#content-right {
display: flex;
justify-content: center;
}

h5, h1{
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
#foto-gui {
  display: flex;
  align-items: center;
  width: 3em;
  height: auto;
}
/* user */

/* categoria*/
.linha {
  display: flex;
  justify-content: space-between; /* Alterado para space-between */
  flex-wrap: wrap; /* Permitirá que as divs se ajustem automaticamente em várias linhas */
  margin-top: 2%;
  margin-right: 10%;
}

.div-categoria {
  background-color: rgba(40, 54, 67, 0.277);
  padding: 9px;
  border-radius: 20%; /* Ajustado o border-radius */
}

.div-categoria:hover {
  background-color: rgba(255, 255, 255, 0.384);
  cursor: pointer;
}

.categoria {
  font-size: 14px;
  color: #ffffffcf;
}

/* categoria */

/* albuns */
.albuns {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.img-album {
  width: 160px;
  height: 160px;
  border-radius: 3.5%;
}

.album-img {
  position: relative;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px; 
  height: auto; 
  background-image: url('caminho/para/o/icone-de-reproducao.svg');
  background-size: cover;
}

a {
  text-decoration: none;
  color: #fff;
}

/* albuns */

/* audio */
.audio-player {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000006d;
  padding: 10px;
  border-top: 2px solid #ffffff1a;
  width: 100%;
  text-align: center;
  width: 100%;
}

.content {
  padding-top: 50px;
  width: 100%;
}
/* audio */
